div{
  border: solid 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  width: 850px;
}
h1{
  color: rgb(99, 192, 99);
  text-transform: uppercase;
  text-align: center;
}

p{
  justify-content: center;
  text-indent: 20px;
  letter-spacing: 4px;
  word-spacing: 5px;
  
}

a{
  text-decoration: none;
}